*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  
}


h1{
  line-height: 50vh;
  margin-left: 25vw;
}

h2{
  margin-left: 45vw;
  margin-top: -100px
}

button{
  background:linear-gradient(190deg, aqua, blue);
  color: white;
  outline:0;
  border: 0;
  padding: 10px;
}
button:hover{
  background:linear-gradient(160deg, aqua, blue);
  color: white;
  outline:0;
  border: 0;
  padding: 11px;
  transition: 1s;
}
button:active{
  background:linear-gradient(180deg, aqua, blue);
  color: white;
  outline:0;
  border: 0;
  padding: 10px;
  transform: rotate(2520deg) ;
  transition: 7s;
}

button:active{
  background:linear-gradient(180deg, aqua, blue);
  color: white;
  outline:0;
  border: 0;
  padding: 10px;
}