*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  
}


h1{
  line-height: 50vh;
  margin-left: 25vw;
}

h2{
  margin-left: 45vw;
  margin-top: -100px
}

button{
  background:linear-gradient(190deg, aqua, blue);
  color: white
}